{% extends 'base.html' %}

{% block title %}О студенте{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div>
            <div class="center" style="width: 60rem;">
                <div class="card">
                    <img src="https://img.razrisyika.ru/kart/2/1200/4812-kotik-8.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">
                            WEB-Приложение Django было выполнено студентом физико-математического факультета.
                            4 курс ПИвЛ Кавченков Д.Е.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}