{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="center" style="width: 90rem;">
                <div class="card-group">
                    <div class="card mx-3 rounded" style="overflow: hidden;">
                        <img src="https://smolgu.ru/upload/iblock/1ed/gt9oe0olbol29iz607g6tgb7q0hwnx7i/105%20%20для%20сайта_2.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">С юбилеем, Смоленский государственный университет!</h5>
                            <p class="card-text">За всем этим – большой труд преподавателей и сотрудников, которые благодаря самоотверженной и вдохновенной работе даже в непростые для страны времена вели университет в светлое будущее, показывали пример настоящего созидания.</p>
                        </div>
                    </div>
                    <div class="card mx-3 rounded" style="overflow: hidden;">
                        <img src="https://smolgu.ru/upload/iblock/3e0/fitkj0mdr1rclxbfup1kwapcmxqzy8ku/1619х1080_8%20февраля.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ректор СмолГУ Михаил Артеменков поздравляет с Днем российской науки</h5>
                            <p class="card-text">Уважаемые преподаватели, аспиранты и студенты Смоленского государственного университета!</p>
                            <p class="card-text">От всего сердца поздравляю Вас с Днем российской науки!
С праздником, который напоминает нам о выдающейся истории научных открытий нашей страны, о великих именах соотечественников и о грандиозных исследовательских результатах на благо общества!</p>
                        </div>
                    </div>
                    <div class="card mx-3 rounded" style="overflow: hidden;">
                        <img src="https://smolgu.ru/upload/iblock/1b7/9byn766f7pa4dwon6b6726l4t5f5da0n/1619х1080_25%20января.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ректор СмолГУ Михаил Артеменков поздравляет с Днем российского студенчества</h5>
                            <p class="card-text">Дорогие студенты Смоленского государственного университета!</p>
                            <p class="card-text">Примите самые искренние и теплые поздравления с Днём российского студенчества!</p>
                            <p class="card-text">Студенчество – особенное время. Полное надежд, мечтаний и устремлений. Впереди у вас целая жизнь. И я желаю вам непременно найти себя в выбранной профессии!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}