{% extends 'base.html' %}

{% block title %}Текст{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <div class="center" style="width: 100rem; height: 40rem;">
                <h1 style="width: 100rem; height: 4rem;">О физико-математическом факультете</h1>
                <div class="row">
                    <div class="col-4">
                        <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                            <nav class="nav nav-pills flex-column">
                                <a class="nav-link" href="#item-1">О факультете</a>
                                <nav class="nav nav-pills flex-column">
                                    <a class="nav-link ms-3 my-1" href="#item-1-1">Физмат сегодня</a>
                                    <a class="nav-link ms-3 my-1" href="#item-1-2">Наука на факультете</a>
                                </nav>
                                <a class="nav-link" href="#item-2">Технические возможности</a>
                                <a class="nav-link" href="#item-3">Студенческая жизнь</a>
                            </nav>
                        </nav>
                    </div>
                    <div class="col-8">
                        <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
                            <div id="item-1">
                                <h4>Физмат сегодня</h4>
                                <p>
                                    Физико-математический факультет – один из старейших факультетов университета. Факультет начал свою деятельность в 1918 году, с первых дней существования университета.
                                    Сегодня физико-математический факультет – современный, динамично развивающийся центр университетского образования и научных исследований в области математики, компьютерных и информационных наук, физики и методики преподавания.
                                </p>
                            </div>
                            <div id="item-1-1">
                                <h5>Физмат сегодня</h5>
                                <p>
                                    Факультет ведет образовательную деятельность по 6 программам бакалавриата, 3 программам магистратуры и 4 программам аспирантуры.
                                    На факультете обучается более 500 студентов, постигая премудрости математики и физики, программирования, новейших трендов в IT-сфере,
                                    инноваций в образовании. Образовательный процесс обеспечивают 4 кафедры, 3 доктора наук, более 20 кандидатов наук.
                                    Занятия по профильным дисциплинам и мастер-классы проводят ведущие специалисты – практики, представители промышленного сектора региона,
                                    IT-сферы, лучшие учителя и директора школ.
                                    Студенты получают прочные практические и актуальные знания, проходят практическую подготовку и стажировки на ведущих промышленных предприятиях и в IT-компаниях (СНИЦ РЭС «Завант», Объединенный институт ядерных исследований в г. Дубна, ООО «Философия. ИТ»,1С – Рарус, ООО «Смоленскгражданпроект» и др.).
                                    Выпускники факультета работают в сфере программирования, статистического анализа, информационных ресурсов, систем и технологий; промышленного и гражданского строительства; в государственных и частных учреждениях среднего, профессионального и высшего образования; в научно-исследовательских центрах и научно-производственных объединениях; в государственных структурах и органах государственного и муниципального управления.
                                </p>
                            </div>
                            <div id="item-1-2">
                                <h5>Наука на факультете</h5>
                                <p>
                                    Основы научных школ факультета были заложены профессорами Московского государственного университета имени М.В. Ломоносова.
                                    В 1920 г. на физико-математическом факультете начал работать известный советский математик, академик Академии наук СССР Александров Павел Сергеевич. С 1930 г. по 1934 годы он возглавлял кафедру математики. В 1929 г. окончил Смоленский университет Александр Геннадиевич Курош - крупнейший советский алгебраист, профессор МГУ.
                                    Традиции математической научной школы продолжает кафедра математического анализа. Профессор К.М. Расулов со своими аспирантами проводит исследования в области краевых задач комплексного анализа. На факультете функционирует научно-образовательный центр «Лаборатория вероятностных проблем аппроксимации», в рамках которого студенты и аспиранты факультета проводят исследования под руководством доцента А.А. Хартова.

                                    Факультет одним из первых включился в процессы информатизации и компьютеризации региона. Доцент В.И. Мунерман со студентами и аспирантами ведет разработки по параллельному программированию и базам данных, результатами которых стали патенты и авторские свидетельства.

                                    На факультете действует научная школа по теории и методике обучения математике под руководством профессора Г.Е. Сенькиной, успешно защищены 22 кандидатские диссертации.
                                    Ежегодно на факультете проводятся две традиционные конференции «Системы компьютерной математики и их приложения» и «Развитие научно-технического творчества детей и молодежи». В международных конференциях и научных семинарах факультета принимают участие ученые из Республики Беларусь, Литвы, Казахстана.
                                </p>
                            </div>
                            <div id="item-2">
                                <h4>Технические возможности</h4>
                                <p>
                                    Факультет располагает современной материально-технической базой, включающей аудитории для проведения лекционных и семинарских занятий, а также лаборатории. Занятия по информатике и программированию проходят в 10 лабораториях информационно-вычислительного центра, оснащенных современной компьютерной техникой, а также в центре аддитивных технологий и робототехники «Модуль». На факультете оборудованы 5 лабораторий по физике и 9 строительных лабораторий, оснащенных необходимыми приборами и материалами. Занятия по радиотехнике проходят в лабораториях СНИЦ РЭС «Завант» в соответствии с договором о сетевом взаимодействии.
                                </p>
                            </div>
                            <div id="item-3">
                                <h4>Студенческая жизнь</h4>
                                <p>
                                    Факультет не только организует учебную деятельность студентов, направленную на овладение профессиональными и научными знаниями, но и создает условия для занятий научной, общественной, культурной, спортивной и другими видами деятельности. Студенты факультета активно участвуют в научных исследованиях, создают собственные программные продукты, выступают на конференциях и семинарах, побеждают в студенческих олимпиадах.
                                    Наши студенты – постоянные участники конкурса творчества для студентов младших курсов «Зеленое яблоко», весеннего масштабного фестиваля «Студенческая весна», туристического слета «Не последний герой», поездки на море «Крымское нашествие», праздничной демонстрация 1-го мая, школы профсоюзного актива и многого другого.
                                    Студенты физмата сильны не только в математике, программировании, физике, но и в спорте с ними трудно состязаться. Сборные физмата стабильно занимают призовые места в баскетболе, футболе и волейболе.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}